/venv/
*.drawio.dtmp
*.drawio.bkp
secret.json
*.db
*.db-journal
*pycache*
Backup-codes-lodhachemist.txt
ComputerScienceIA.code-workspace
/temp_files/employee_inventory_print_*
/.idea/runConfigurations/run.xml
*.iml
