<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Customer Login</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/customer_OrderPlacement.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="pt-5">
  <h1 class="text-center">Customer Login</h1>
  
<div class="container">
                <div class="row">
                    <div class="col-md-5 mx-auto">
                        <div class="card card-body">                  
                            <form action="/customer/signin" method="POST">
                                <div class="form-group required">
                                    <label for="loginID">Email</label>
                                    <input type="text" class="form-control text-lowercase" id="loginID" required="" name="loginID" value="">
                                </div>                    
                                <div class="form-group required">
                                    <label class="d-flex flex-row align-items-center" for="password">Password 
                                        <a class="ml-auto border-link small-xl" href="/customer/forget_password">Forget Password?</a></label>
                                    <input type="password" class="form-control" required="" id="password" name="password" value="">
                                </div>
                                <div style="color:red; text-align: center;">
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        {% for message in messages %}
                                          {{ message }}<br>
                                        {% endfor %}
                                      {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="form-group pt-1">
                                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                                </div>

                            </form>
                            <div class="form-group pt-1">
                                    <button class="btn btn-primary btn-block" onclick="window.location.href = '/'" style = "background-color: red; border: 2px solid red;">Back</button>
                            </div>
                            <p class="small-xl pt-3 text-center">
                                <span class="text-muted">Not a member?</span>
                                <a href="/customer/signup">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
</div>
<br>
<p>Store Address:<br>
    Outside Lodha Aqua Society<br>
    Located on Western Expressway<br>
Contact us on the following numbers:<br>
</p>

  
</body>
</html>
