<link rel="stylesheet" href="./editcustomerprofile.css">

<form action="customer_order_placement.html" style="border:1px solid #ccc">
  <div class="container">
    
    <table id="customerDetails" style="width: 40%;">
        <tr>
            <div class="logo">
                <img src="images/logo.png">
            </div>
            <h1 style="text-align: center">Edit Profile</h1>
            <p style="text-align: center">Please save all changes after you finish editing profile details</p>
            <hr>
        </tr>
        <tr>
            <label for="firstName"><b>First Name</b></label> <br>
            <label class = "editablefirstname" contenteditable="True">John</label><br>
            <label for="lastName"><b>Last Name</b></label><br>
            <label class = "editablelastname" contenteditable="True">Doe</label><br>
        </tr>
        <tr>
            <label for="email"><b>Email</b></label><br>
            <label class = "emailID" contenteditable="True">johndoe@gmail.com</label><br>
        </tr>
        <tr>
            <label for="phone-number"><b>Mobile Number</b></label><br>
            <label class = "mobileNumber" contenteditable="True">1234567890</label><br>
        </tr>
        <tr>
            <label for="address"><b>Home Address</b></label><br>
            <label class = "address" contenteditable="True">House Number 10, Downing Street</label><br>
        </tr>
        <tr>
            <label for="psw"><b>Password</b></label><br>
            <label class = "password" contenteditable="True">Password123</label><br>
        </tr>
    </table>
   
    <div class="clearfix">
      <button type="button" class="cancelbtn" onclick="window.location.href = './customer_order_placement.html'">Cancel</button>
      <button type="submit" class="signupbtn">Save Changes</button>
    </div>
  </div>
</form>
