<!DOCTYPE html>
<html>
<head>
	<title>Lodha Chemist Customer Order Placement</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css' ) }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/customer_OrderPlacement.css' ) }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/customer_OrderPlacement.js' ) }}"></script>
</head>
<body>
<div class="logo">
	<img src="{{ url_for('static', filename = 'images/logo.png' ) }}">
</div>
<h1>Welcome to Lodha Chemist</h1>
<h2 class="centerText">Please place your order below</h2>
<div class="orderTable">
	<h3 style="position: absolute; margin-top:-20px; display: flex;">Order Details</h3>
	<table id="orders_table" style="width: 55%; margin-top: 18px; text-align: center; column-width: 150px;">
		<tr style="position: sticky; top:0;">
			<th>Serial No.</th>
			<th>Item Name</th>
			<th>Quantity</th>
			<th>Edit Quantity</th>
			<th>Price per Unit</th>
			<th>Subtotal</th>
		</tr>
		{% for item in data %}
		<tr>
			<td>{{item.sl_no}}</td>
			<td>{{item.name}}</td>
			<td>{{item.quantity}}</td>
			<td style="display: flex;">
				<a href="/customer/editorder/{{item.order_id}}/+" type="button">
					<button class="plusBtn">
						<i class="fa fa-plus" style="font-size:18px"></i>
					</button>
				</a>
				<a href="/customer/editorder/{{item.order_id}}/-">
					<button class="minusBtn" style="font-size:18px" type="button">
						<i class="fa fa-minus"></i>
					</button>
				</a>
			</td>
			<td>{{item.price}}</td>
			<td>{{item.subtotal}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div>
	<label id = "grandTotal" ><strong>Grand Total</strong></label>
	<label>Total Price</label>
</div>

<form action="/customer/orderplacement" method="POST" style="position: static; margin-top: 20px;">
	<table>
		<tr>
			<div class="submitOrder" style="margin-top: 100px; position: relative; ">
				<button type = "submit" class="button4" style="display: inline; font-size: 18px;">Submit Order</button>
			</div>
		</tr>
		<tr>
			<h2>Please choose your delivery choice!</h2>
		</tr>
		<tr>
			<div class="deliveryButton" style="margin-left: 400px;">
				<input type="radio" id="homeDelivery" name="deliveryChoice" value="HD" required>
				<label for="homeDelivery">Home Delivery</label><br>
			</div>
		</tr>
		<tr>
			<div class ="deliveryButton" style="margin-left: 550px; margin-top: -25px; ">
				<input type="radio" id="pickUp" name="deliveryChoice" value="PU"  checked required>
				<label for="pickUp">Pick Up From Store</label><br>
			</div>
		</tr>
	</table>
</form>
<div>
	<a href="/customer/orderDel">
		<div class="resetOrder">
			<button type = "submit" class="button5" style="display: inline; font-size: 18px; ">Reset Order</button>
		</div>
	</a>
</div>

<form class="form-inline" action="/customer/addorder" method="POST" style="margin-top: -300px; =">
	<table class="buttonsTable" style="width: 40%; display: flex; margin-left:920px; position: relative; column-width:150px; align-items: center;">
		<tr>
		<tr>
			<div style="white-space: nowrap; float: right; display: flex; margin-top: -350px; margin-left:820px; position: fixed; ">
				<h2>Add Item To Cart Here!</h2>
				<br>
				<p style="white-space: nowrap; font-size: 15px; display: flex; position: fixed; margin-top: 40px; margin-left: 0px;">To add items to your cart, please type their names into the <br> textbox below.
					Once done, please select the quantity and then <br> click on the add item button.
				</p>
			</div>
		</tr>
		<tr>
			<div class="inputBoxes, form-group" style="display: flex; position: fixed;" >
				<td style= "width: 45%;"><input type="text" id="itemName_input" name="name" placeholder="Name of the Product" required></td>
				<td style=><select name ="quantity" id="quantity_input" placeholder = "Quantity Required" required>
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
				</select>
				</td>
			</div>
			<div class="cartButtons">
				<td style = "margin-top:-250px; position: fixed; display: flex; "><button class="button1" type="submit">Add Item</button></td>
			</div>
		</tr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<tr>
				<td>{{ message }}</td>
			</tr>
			{% endfor %}
		{% endif %}
		{% endwith %}
	</table>
</form>
<div style="float: right; margin-right: 90px; margin-top: -580px; display: flex; align-items: center;">
	<a href="/customer/editprofile">
		<div class="changeProfile">
			<button class="button7" onclick = "window.location.href = '/customer/editprofile'" style="margin: 0 auto; display: inline;">Change Profile Details</button>
		</div>
	</a>

	<a href="/customer/logout">
		<div class="logout" >
			<button class="button8" onclick = "window.location.href = '/customer/logout'" style="margin: 0 auto; display: inline;">Logout</button>
		</div>
	</a>
</div>
</body>
</html>