<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		<title>Lodha Chemist Emp Return Items</title>
		<link rel="stylesheet" type = "text/CSS" href="{{ url_for('static', filename = 'css/employee_returnItems.css' ) }}">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script text = "type/javascript" src="{{ url_for('static', filename = 'js/employee_returnItems.js') }}"></script>
	</head>
	<body>
		<header>
			<a href="#" class="logo"><img class="logoImg" src="{{ url_for('static', filename = 'images/logo.png') }}"></a>
			<ul class ="navbar">
				<li><a href="/employee/welcome">Home</a></li>
				<li><a href="/employee/inventory">Inventory</a></li>
				<li><a href="/employee/posTerminal">POS Terminal</a></li>
				<li><a href="/employee/monthlyRevenue">Monthly Revenue</a></li>
				<li><a href="/employee/orders">Orders</a></li>
				<li><a href="/employee/returnItems" class="active">Return Items</a></li>
				<div class="main">
					<a href="/employee/logout" class="logout"><i class="ri-logout-box-line"></i>Logout</a>
				</div>
			</ul>
		</header>
        <br>
        <br>
        <br>
		<div  class="returnTable" style = "margin-top: 160px; margin-left: 60px; height: 350px; overflow-y:auto;">
            <h3 style="position: fixed; margin-top: -70px;">Item Return</h3>
            <table id ="returnTable">
                <tr style="position: fixed; margin-top: -50px;">
                    <th>Serial No</th>
                    <th>Product Name</th>
                    <th>Price(₹)/Unit</th>
					<th>Return Quantity</th>
                    <th>Subtotal</th>
                    <th>Accept Returns</th>
                    <th>Delete Item</th>
                </tr>
				{% for item in data %}
                <tr>
                    <form action="/employee/returnItemsEdit/{{item.order_id}}" method="post">
                        <td>
                            {{item.sl_no}}
                        </td>
                        <td>
                            {{item.prod_name}}
                        </td>
                        <td>
                            <input type="number" name="prod_price" value="{{item.price}}" {{item.readonly}} {{item.disabled}}/>
                        </td>
                        <td>
                            <input type="number" name="prod_quant" value="{{item.quant}}" {{item.readonly}} {{item.disabled}}/>
                        </td>
                        <td>
                            {{item.sub}}
                        </td>
                        <td>
                            {{item.prod_return}}
                        </td>
                        <input type="submit" hidden>
                    </form>
                    <td>
                        <a href="/employee/returnItemsDel/{{item.order_id}}">
                            <button class="minusBtn" style="font-size:20px;">
                                <i class = "fa fa-trash center"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="display: flex;">
            <h3 style="position: absolute; margin-left: 35px; margin-top: 0px;">To return any purchased items please enter their product ID  below and click return item.</h3>
        </div>
        <table class = "inputBoxes" style="display: flex; position: absolute; margin-left: 40px; margin-top: 20px;">
            <tr>
                <form action="/employee/returnItemsAdd" method="post">
                    <td><input type="number" min = "1" id="productID" name="productID" placeholder="Product ID" required style ="height: 40px; font-size: 20px;"></td>
                    <td><button class="returnBtn" type="submit">Return Item</button></td>
                </form>
            </tr>
        </table>
        <table style="margin-top: 30px; margin-left: 400px;">
            <form action="/employee/returnItems" method="post">
                 <tr>
                     <div >
                         <td style="margin-left: -100px;">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}
                    </td>
                     </div>
                 </tr>
                <tr style="">
                    <td style="width: 400px;margin-left:600px;"><button class="submitForm" type="submit">Submit Return Order</button></td>
                    <td style="width: 400px;">
                    <a href="/employee/returnItemsDel/0">
                        <button class="clearForm">Clear Return Order</button>
                    </a>
                </td>
                </tr>
                </form>
        </table>
    </body>
</html>