<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		<title>Lodha Chemist Emp Monthly Revenue</title>
		<link rel="stylesheet" type = "text/CSS" href="{{ url_for('static', filename = 'css/employee_monthlyRevenue.css' ) }}">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script text = "type/javascript" src="{{ url_for('static', filename = 'js/employee_monthlyRevenue.js') }}"></script>
	</head>
    <body onload="populateYearDropdown(); populateYearDropdown2(); populateYearDropdown3()">
        <header>
			<a href="#" class="logo"><img class="logoImg" src="{{ url_for('static', filename = 'images/logo.png') }}"></a>
			<ul class ="navbar">
				<li><a href="/employee/welcome" >Home</a></li>
				<li><a href="/employee/inventory">Inventory</a></li>
				<li><a href="/employee/posTerminal">POS Terminal</a></li>
				<li><a href="/employee/monthlyRevenue" class="active">Monthly Revenue</a></li>
				<li><a href="/employee/orders">Orders</a></li>
				<li><a href="/employee/returnItems">Return Items</a></li>
				<div class="main">
					<a href="/employee/logout" class="logout"><i class="ri-logout-box-line"></i>Logout</a>
				</div>
			</ul>
		</header>
        <br>
        <br>
        <br>
        <div class = "monthlyRevenue" style = "margin-top: 160px; margin-left: 60px;">
            <h3 style="position: fixed; margin-top: -70px;">Monthly Revenue Details</h3>
            <table id ="monthlyRevenueTable">
                <tr style="position: fixed; display:flex; margin-top: -50px;">
                    <th>Month/Year</th>
                    <th>Total Number of Orders</th>
                    <th>Monthly Revenue</th>
                </tr>
                <!--
                Check the notification styling
                -->
                {% for item in data %}
                <tr>
                    <td>{{item.period}}</td>
                    <td>{{item.orders}}</td>
                    <td>{{item.revenue}}</td>
                </tr>
                {% endfor %}
            </table>
            <table style="display:flex;  ">
                <tr>
                    <div style="width:700px;margin-left: 650px;margin-top:80px;  position: fixed;">
                        <h3>To filter data for a particular month, please fill in the form below.</h3>
                    </div>
                </tr>
                <tr>
                    <td>
                        <div style="width:200px;margin-left: 730px; margin-top:120px; position: fixed;">
                        <h3>Start Month</h3>
                        </div>
                    </td>
                    <td>
                        <div style="width:200px; margin-left: 840px;margin-top:120px; display: flex; position: fixed;">
                        <h3>Start Year</h3>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="margin-left: 770px; margin-top:-80px; display: flex; position: fixed;">
                <select id="filterMonth">
                    <option value="" disabled>Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div style="margin-left: 1030px; margin-top: -80px; display: flex; position: fixed;">
                <select id="yearDropdown" placeholder="Year">
                <option value="" disabled>Year</option>
                </select>
            </div>
            <!--Table for Range Selection-->

            <table class = "inputBoxes" style="display: flex; position: fixed; margin-left: 875px; margin-top: -30px;">
                <td><button style="whitespace: nowrap; width: 150px; height: 60px;"class="showRev" onclick="currentMonthRevenue()">Filter Data</button></td>
            </table>
            <table style="display:flex;  ">
                <tr>
                    <div style="width:700px;margin-left: 650px;margin-top:-180px;  position: fixed;">
                        <h3>To filter data for a range of months, please fill in the form below.</h3>
                    </div>
                </tr>
                <tr>
                    <td>
                        <div style="width:100px;margin-left: 785px; margin-top:-120px; position: fixed;">
                        <h3>Month</h3>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px; margin-left: 865px;margin-top:-120px; display: flex; position: fixed;">
                        <h3>Year</h3>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="margin-left: 770px; margin-top:130px; display: flex; position: fixed;">
                <select id="filterMonthRangeStart">
                    <option value="" disabled>Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div style="margin-left: 1030px; margin-top: 130px; display: flex; position: fixed;">
                <select id="yearDropdownRangeStart" placeholder="Year">
                <option value="" disabled>Year</option>
                </select>
            </div>
            <table>
                <tr>
                    <td>
                        <div style="width:200px;margin-left: 730px; margin-top:180px; position: fixed;">
                        <h3>End Month</h3>
                        </div>
                    </td>
                    <td>
                        <div style="width:200px; margin-left: 850px;margin-top:180px; display: flex; position: fixed;">
                        <h3>End  Year</h3>
                        </div>
                    </td>
                </tr>
            </table>
             <div style="margin-left: 770px; margin-top:220px; display: flex; position: fixed;">
                <select id="filterMonthRangeEnd">
                    <option value="" disabled>Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div style="margin-left: 1030px; margin-top: 220px; display: flex; position: fixed;">
                <select id="yearDropdownRangeEnd" placeholder="Year">
                <option value="" disabled>Year</option>
                </select>
            </div>
            <table class = "inputBoxes" style="display: flex; position: fixed; margin-left: 875px; margin-top: 260px;">
                <td><button style="whitespace: nowrap; width: 150px; height: 60px;"class="showRev" onclick="rangeMonthRevenue()">Filter Data</button></td>
            </table>
        </div>
    </body>
</html>