<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		<title>Lodha Chemist Emp POS</title>
		<link rel="stylesheet" type = "text/CSS" href="{{ url_for('static', filename = 'css/employee_posTerminal.css' ) }}">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
    <body>
        <header>
			<a href="#" class="logo"><img class="logoImg" src="{{ url_for('static', filename = 'images/logo.png') }}"></a>
			<ul class ="navbar">
				<li><a href="/employee/welcome">Home</a></li>
				<li><a href="/employee/inventory">Inventory</a></li>
				<li><a href="/employee/posTerminal" class="active">POS Terminal</a></li>
				<li><a href="/employee/monthlyRevenue">Monthly Revenue</a></li>
				<li><a href="/employee/orders">Orders</a></li>
				<li><a href="/employee/returnItems">Return Items</a></li>
				<div class="main">
					<a href="/employee/logout" class="logout"><i class="ri-logout-box-line"></i>Logout</a>
				</div>
			</ul>
		</header>
        <br>
        <br>
        <br>
        <div class = "billingTable" style = "margin-top: 160px; margin-left: 60px;">
            <h3 style="position: fixed; margin-top: -70px;">Receipt Details</h3>
            <table id ="billingTable">
                <tr style="position: fixed; margin-top: -50px;">
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price(₹)/Unit</th>
                    <th>Quantity</th>
                    <th>Sub Total(₹)</th>
                </tr>
            </table>
        </div>
        <h3 style="position: fixed; margin-left: 925px; margin-top: -475px;">To add items into the POS Terminal, <br>please enter their product ID  <br>below and click add item to cart.</h3>
        <table class = "inputBoxes" style="position: fixed; margin-left: 925px; margin-top: -400px;">
            <td><input type="number" min = "1" id="productID" placeholder="Product ID" required style ="height: 40px; font-size: 20px;"></td>
            <td><button class="addItem" onclick="addItem()">Add Item to Cart</button></td>
        </table>
        <p id = "grandTotal"><strong>Grand Total</strong></p>


        <script type="text/javascript">
            var c = 1;
            var row, productID, productName, priceUnit, quantity, subTotal, grandTotal;
            function addItem(){
                var table = document.getElementById("billingTable");
                if (document.getElementById("productID").value <= 0 || document.getElementById("productID").value == null || document.getElementById("productID").value == "" ){
                    alert("This value is an invalid product ID and cannot be entered into the table. Please try again.");
                    document.getElementById("productID").value = "";
                    return;
                }
                let checkRepeatItem = checkInCart(document.getElementById("productID").value);
                if (checkRepeatItem[0] == true){
                    alert("You have entered the same item again. Please go to table and edit the quantity at Row Number " + checkRepeatItem[1])
                    return;
                }
                var row = table.insertRow(-1);
                var productID = row.insertCell(0);
  			    var productName = row.insertCell(1);
  			    var priceUnit = row.insertCell(2);
                var quantity= row.insertCell(3);
                var subTotal= row.insertCell(4);
                productID.innerHTML = document.getElementById("productID").value;
                quantity.innerHTML = 1 + "<button class=\"plusBtn\" onclick = \"plusItem(this)\"><i class=\"fa fa-plus\"></i></button><button onclick = \"minusItem(this)\" class=\"minusBtn\" style=\"font-size:24px\"><i class=\"fa fa-minus\"></i></button>";
                document.getElementById("productID").value = ""
            }
            function checkInCart(checkItem){
                var repeatRow = 0;
                var itemFound = false;
                var table = document.getElementById("billingTable");
                for (let i = 1; i < table.rows.length; i ++){
                    if (checkItem == table.rows[i].cells[0].innerHTML){
                        console.log("Same item detetced");
                        repeatRow = i;
                        itemFound = true;
                    }
                }
                if (itemFound == true){
                    return [true, repeatRow];
                }
                else{
                    return [false, 0];
                }
            }
            function plusItem(element){
                var table = document.getElementById("billingTable");
				table.rows[element.parentNode.parentNode.rowIndex].cells[3].innerHTML = parseInt(table.rows[element.parentNode.parentNode.rowIndex].cells[3].innerHTML) + 1 +"<button class=\"plusBtn\" onclick = \"plusItem(this)\"><i class=\"fa fa-plus\"></i></button><button onclick = \"minusItem(this)\" class=\"minusBtn\" style=\"font-size:24px\"><i class=\"fa fa-minus\"></i></button>";
            }
            function minusItem(element){
                var table = document.getElementById("billingTable");
				if (parseInt(table.rows[element.parentNode.parentNode.rowIndex].cells[3].innerHTML) == 1){
					var remove = confirm("Reducing the quantity further will remove the item from the cart. Please confirm if you want to do so")
					if (remove == true){
						document.getElementById("billingTable").deleteRow(element.parentNode.parentNode.rowIndex);
						c = document.getElementById("billingTable").rows.length;
						console.log(c + " delete");
					}
				}else{
					table.rows[element.parentNode.parentNode.rowIndex].cells[3].innerHTML = parseInt(table.rows[element.parentNode.parentNode.rowIndex].cells[3].innerHTML) - 1 + "<button class=\"plusBtn\" onclick = \"plusItem(this)\"><i class=\"fa fa-plus\"></i></button><button onclick = \"minusItem(this)\" class=\"minusBtn\" style=\"font-size:24px\"><i class=\"fa fa-minus\"></i></button>";
				}
            }
        </script>
    </body>
</html>