<!DOCTYPE html>
<html>
	<head>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/employee_inventory.js' ) }}"></script>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		<title>Lodha Chemist Emp Inventory</title>
		<link rel="stylesheet" type = "text/CSS" href="{{ url_for('static', filename = 'css/employee_inventory.css' ) }}">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
        <header>
			<a href="#" class="logo"><img class="logoImg" src="{{ url_for('static', filename = 'images/logo.png') }}"></a>
			<ul class ="navbar">
				<li><a href="/employee/welcome">Home</a></li>
				<li><a href="/employee/inventory" class="active">Inventory</a></li>
				<li><a href="/employee/posTerminal">POS Terminal</a></li>
				<li><a href="/employee/monthlyRevenue">Monthly Revenue</a></li>
				<li><a href="/employee/orders">Orders</a></li>
				<li><a href="/employee/returnItems">Return Items</a></li>
				<div class="main">
					<a href="/employee/logout" class="logout"><i class="ri-logout-box-line"></i>Logout</a>
				</div>
			</ul>
		</header>
        <br>
        <br>
        <br>
        <div  class="inventoryTable" style = "margin-top: 160px; margin-left: 60px;">
            <h3 style="position: fixed; margin-top: -70px;">Inventory Details</h3>
            <table id ="inventoryTable">
                <tr style="position: fixed; margin-top: -50px;">
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price(₹)/Unit</th>
                    <th>Quantity Available</th>
                    <th>Shelf Location</th>
                    <th>Accept Returns</th>
                    <th>Reorder Quantity</th>
                    <th>Edit Item</th>
                    <th>Delete Item</th>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quant_a}}</td>
                    <td>{{item.shelf}}</td>
                    <td>{{item.returns}}</td>
                    <td>{{item.quant_r}}</td>
                    <td>
                        <a href="/employee/editItemInfo/{{item.id}}">
                            <button class="editUserPassword" style="font-size:24px;">
                                <i class = "fa fa-edit center"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="/employee/delItemInfo/{{item.id}}">
                            <button class="deleteButton">
                                <i class="ri-delete-bin-line"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="color:red;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <form method="POST" action="/employee/inventory">
            <table class="inputTable">
                <h3 style="margin-left: 20px; margin-bottom: -25px;">Fill the form below to add items into inventory</h3>
                <tr>
                    <th>Product Name</th>
                    <th>Price(₹)/Unit</th>
                    <th>Quantity Available</th>
                    <th>Shelf Location</th>
                    <th>Accept Returns</th>
                    <th>Reorder Quantity</th>
                </tr>
                <tr>
                    <div class="inputBoxes">
                        <td>
                            <input type="text" id="productName" name="productName" placeholder="Name of the Product" required>
                        </td>
                        <td>
                            <input type="number" id="productPrice" name="productPrice" placeholder="Price in Rupees" required>
                        </td>
                        <td>
                            <select id="quantityAvailable" name="quantityAvailable" placeholder="Quantity Available" required>
                                <option selected>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="shelfLocation" name="shelfLocation" placeholder="Shelf Location" required>
                        </td>
                        <td>
                            <select id="acceptReturns" name="acceptReturns" required>
                                <option selected>Yes</option>
                                <option>No</option>
                            </select>
                        </td>
                        <td>
                            <select id="reorderQty" name="reorderQty" placeholder="Reorder Available" required>
                                <option selected>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                        </td>
                    </div>
                </tr>
            </table>
            <div class="buttonsTable">
                <button class="addItem" type="submit">Add Item</button>
            </div>
        </form>
    </body>
</html>